
.container {

  margin-left: 20%;
  margin-right: 20%;
}


/* Images du site */
#logoTechnichauf {

  width: 50%;
  margin-right: 33.6%;
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px #989c9e;
}

#logoRge {

  float: right;
}

.imagesGalerie {

  width: 23.5%;
  margin-left: 1.6%;
}

/* Affichage des liens*/
.lien {

  text-decoration: none;
  color: #5688c4;
}

.lien:hover {

  text-decoration: none;
  color: #c71b08;
}

.lienNav {

  text-decoration: none;
  color:black;
}

.lienNav:hover {

  text-decoration: none;
  color: #c71b08;
}

/* Affichage texte*/

.titre {

  font-size: 1.8em;
}

.text {

  text-align: center;
  line-height: 1.7em;
}

.text2 {

  font-size: 1.2em;
  line-height:1.7em;
  margin-top: 2%;
}

.elementsGras {

  font-weight: bold;
}

/* Formulaire contact */

.champsObligatoires {

  color: #838383;
}

.formulaireText {

  font-size: 1.2em;
  line-height: 1.7em;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

input, textarea {

  font-size: 0.7em;
  width: 140%;
  float: left;
  border: 1px grey solid;
}

#sendButton {

  width: 100%;
}

/* Bordures */

.decoration {

  border-top: 1px #bf3b32 solid;
  border-bottom: 1px #59b7ff solid;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  padding: 1px;
}

nav {

   font-size: 1.5em;
   border-top: 1px #bf3b32 double;
   border-bottom: 1px #59b7ff double;
   margin-left:20%;
   margin-right: 20%;
   margin-bottom: 1%;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 50px;
}

footer {

  margin-left: 20%;
  font-size: 1.5em;
}
